* {
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
  
#display_div {
  display: none;
  overflow: hidden;
  position: relative;
  height: 444px;
  width: 444px;
  left: 444px;
}
  
