* {
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
  

#counter {
  display: inline-block;
  height: 44px;
  width: 44px;
  position: absolute;
  left: 444px;
}

  
